In [3]:
import numpy as np 
import pandas as pd

4-1

In [4]:
eq = pd.read_csv('../datasets/earthquakes.csv')

In [3]:
eq.head(2)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...

In [16]:
eq.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   alert    59 non-null     object
 1   cdi      329 non-null    float64
 2   code     9332 non-null   object
 3   detail   9332 non-null   object
 4   dmin     6139 non-null   float64
 5   felt     329 non-null    float64
 6   gap      6164 non-null   float64
 7   ids      9332 non-null   object
 8   mag      9331 non-null   float64
 9   magType  9331 non-null   object
 10  mmi      93 non-null     float64
 11  net      9332 non-null   object
 12  nst      5364 non-null   float64
 13  place    9332 non-null   object
 14  rms      9332 non-null   float64
 15  sig      9332 non-null   int64
 16  sources  9332 non-null   object
 17  status   9332 non-null   object
 18  time     9332 non-null   int64
 19  title    9332 non-null   object
 20  tsunami  9332 non-null   int64
 21  type     9332 non-null   object
 22  types    9332 non-null   object
 23  tz       9331 non-null   float64
 24  updated  9332 non-null   int64
 25  url      9332 non-null   object
dtypes: float64(9), int64(4), object(13)
memory usage: 1.9+ MB

In [12]:
eq.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

In [5]:
eq.place.unique()

array(['9km NE of Aguanga, CA', '8km NE of Aguanga, CA',
       '10km NW of Avenal, CA', ..., '9km ENE of Mammoth Lakes, CA',
       '3km W of Julian, CA', '35km NNE of Hatillo, Puerto Rico'],
      dtype=object)

In [26]:
len(eq[(eq.place.str.contains('Japan')) & (eq.mag >= 4.9)])

9

In [23]:
eq.query('place.str.contains("Japan") and mag >= 4.9')

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
476,NaN,4.1,1000haxq,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.168,59.0,97.0,",us1000haxq,",5.2,mww,...,",us,",reviewed,1539317747370,"M 5.2 - 7km ESE of Asahi, Japan",0,earthquake,",dyfi,geoserve,moment-tensor,origin,phase-data,",540.0,1539428158785,https://earthquake.usgs.gov/earthquakes/eventp...
1563,NaN,NaN,1000h8mj,https://earthquake.usgs.gov/fdsnws/event/1/que...,3.773,NaN,101.0,",us1000h8mj,",4.9,mb,...,",us,",reviewed,1538977532250,"M 4.9 - 293km ESE of Iwo Jima, Japan",0,earthquake,",geoserve,origin,phase-data,",600.0,1538978864040,https://earthquake.usgs.gov/earthquakes/eventp...
2576,NaN,3.1,1000h7cn,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.015,7.0,33.0,",us1000h7cn,",5.4,mb,...,",us,",reviewed,1538697528010,"M 5.4 - 37km E of Tomakomai, Japan",0,earthquake,",dyfi,geoserve,moment-tensor,origin,phase-data,",540.0,1538757701040,https://earthquake.usgs.gov/earthquakes/eventp...
2591,NaN,NaN,1000h7bt,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.068,NaN,68.0,",us1000h7bt,",5.0,mww,...,",us,",reviewed,1538693073410,"M 5.0 - 144km E of Nago, Japan",0,earthquake,",geoserve,origin,phase-data,",540.0,1538694501040,https://earthquake.usgs.gov/earthquakes/eventp...
3072,NaN,3.1,1000h6ac,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.082,15.0,118.0,",us1000h6ac,",4.9,mb,...,",us,",reviewed,1538579732490,"M 4.9 - 15km ENE of Hasaki, Japan",0,earthquake,",dyfi,geoserve,origin,phase-data,",540.0,1539230846942,https://earthquake.usgs.gov/earthquakes/eventp...
3632,NaN,3.1,1000h5gh,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.449,19.0,117.0,",us1000h5gh,",4.9,mb,...,",us,",reviewed,1538450871260,"M 4.9 - 53km ESE of Hitachi, Japan",0,earthquake,",dyfi,geoserve,origin,phase-data,",540.0,1538581746455,https://earthquake.usgs.gov/earthquakes/eventp...
4409,NaN,4.1,1000h4k1,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.959,11.0,66.0,",us1000h4k1,",5.0,mww,...,",us,",reviewed,1538297644770,"M 5.0 - 33km NW of Shizunai, Japan",0,earthquake,",dyfi,geoserve,origin,phase-data,",540.0,1538361706229,https://earthquake.usgs.gov/earthquakes/eventp...
7832,NaN,NaN,2000him5,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.263,NaN,37.0,",us2000him5,",5.3,mww,...,",us,",reviewed,1537613881810,"M 5.3 - 169km E of Nago, Japan",0,earthquake,",geoserve,origin,phase-data,",540.0,1537614975040,https://earthquake.usgs.gov/earthquakes/eventp...
9083,NaN,3.1,2000hgf5,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.846,7.0,108.0,",us2000hgf5,",5.1,mww,...,",us,",reviewed,1537287709100,"M 5.1 - 23km ENE of Ishinomaki, Japan",0,earthquake,",dyfi,geoserve,moment-tensor,origin,phase-data,",540.0,1537974828415,https://earthquake.usgs.gov/earthquakes/eventp...

4-2

In [8]:
eq.mag.min(), eq.mag.max()

(-1.26, 7.5)

In [10]:
pd.cut(eq.mag, bins = [1, 3, 5, 7, 9])

0       (1.0, 3.0]
1       (1.0, 3.0]
2       (3.0, 5.0]
3              NaN
4       (1.0, 3.0]
           ...
9327           NaN
9328           NaN
9329    (1.0, 3.0]
9330    (1.0, 3.0]
9331           NaN
Name: mag, Length: 9332, dtype: category
Categories (4, interval[int64, right]): [(1, 3] < (3, 5] < (5, 7] < (7, 9]]

In [13]:
len(eq[eq.mag < 0])

491

In [15]:
pd.cut(eq.mag, bins=[-2, 0, 2, 4, 6, 8], 
        labels=['negative', 'nothing', 'weak', 'middle', 'strong'])

0       nothing
1       nothing
2          weak
3       nothing
4          weak
         ...
9327    nothing
9328    nothing
9329       weak
9330    nothing
9331    nothing
Name: mag, Length: 9332, dtype: category
Categories (5, object): ['negative' < 'nothing' < 'weak' < 'middle' < 'strong']

4-4

In [19]:
eq.tsunami.unique()

array([0, 1])

In [20]:
eq.magType.unique()

array(['ml', 'md', 'mb', 'mww', 'mb_lg', 'mwr', 'mw', 'mh', 'ms_20',
       'mwb', nan], dtype=object)

In [18]:
# crosstab with count
pd.crosstab(index=eq.tsunami, columns=eq.magType)

magType   mb  mb_lg    md  mh    ml  ms_20  mw  mwb  mwr  mww
tsunami
0        574     30  1796  12  6798      0   2    2   14   42
1         27      0     0   0     5      1   2    0    0   26

In [21]:
# max magnitude for each combination
pd.crosstab(index=eq.tsunami, columns=eq.magType,
            values=eq.mag, aggfunc=np.max)

magType   mb  mb_lg    md   mh   ml  ms_20    mw  mwb  mwr  mww
tsunami
0        5.6    3.5  4.11  1.1  4.2    NaN  3.83  5.8  4.8  6.0
1        6.1    NaN   NaN  NaN  5.1    5.7  4.41  NaN  NaN  7.5

In [16]:
pd.crosstab?

Signature:
pd.crosstab(
    index,
    columns,
    values=None,
    rownames=None,
    colnames=None,
    aggfunc=None,
    margins: 'bool' = False,
    margins_name: 'str' = 'All',
    dropna: 'bool' = True,
    normalize=False,
) -> 'DataFrame'
Docstring:
Compute a simple cross tabulation of two (or more) factors.

By default, computes a frequency table of the factors unless an
array of values and an aggregation function are passed.

Parameters
----------
index : array-like, Series, or list of arrays/Series
    Values to group by in the rows.
columns : array-like, Series, or list of arrays/Series
    Values to group by in the columns.
values : array-like, optional
    Array of values to aggregate according to the factors.
    Requires `aggfunc` be specified.
rownames : sequence, default None
    If passed, must match number of row arrays passed.
colnames : sequence, default None
    If passed, must match number of column arrays passed.
aggfunc : function, optional
    If specified, requires `values` be specified as well.
margins : bool, default False
    Add row/column margins (subtotals).
margins_name : str, default 'All'
    Name of the row/column that will contain the totals
    when margins is True.
dropna : bool, default True
    Do not include columns whose entries are all NaN.
normalize : bool, {'all', 'index', 'columns'}, or {0,1}, default False
    Normalize by dividing all values by the sum of values.

    - If passed 'all' or `True`, will normalize over all values.
    - If passed 'index' will normalize over each row.
    - If passed 'columns' will normalize over each column.
    - If margins is `True`, will also normalize margin values.

Returns
-------
DataFrame
    Cross tabulation of the data.

See Also
--------
DataFrame.pivot : Reshape data based on column values.
pivot_table : Create a pivot table as a DataFrame.

Notes
-----
Any Series passed will have their name attributes used unless row or column
names for the cross-tabulation are specified.

Any input passed containing Categorical data will have **all** of its
categories included in the cross-tabulation, even if the actual data does
not contain any instances of a particular category.

In the event that there aren't overlapping indexes an empty DataFrame will
be returned.

Reference :ref:`the user guide <reshaping.crosstabulations>` for more examples.

Examples
--------
>>> a = np.array(["foo", "foo", "foo", "foo", "bar", "bar",
...               "bar", "bar", "foo", "foo", "foo"], dtype=object)
>>> b = np.array(["one", "one", "one", "two", "one", "one",
...               "one", "two", "two", "two", "one"], dtype=object)
>>> c = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny",
...               "shiny", "dull", "shiny", "shiny", "shiny"],
...              dtype=object)
>>> pd.crosstab(a, [b, c], rownames=['a'], colnames=['b', 'c'])
b   one        two
c   dull shiny dull shiny
a
bar    1     2    1     0
foo    2     2    1     2

Here 'c' and 'f' are not represented in the data and will not be
shown in the output because dropna is True by default. Set
dropna=False to preserve categories with no data.

>>> foo = pd.Categorical(['a', 'b'], categories=['a', 'b', 'c'])
>>> bar = pd.Categorical(['d', 'e'], categories=['d', 'e', 'f'])
>>> pd.crosstab(foo, bar)
col_0  d  e
row_0
a      1  0
b      0  1
>>> pd.crosstab(foo, bar, dropna=False)
col_0  d  e  f
row_0
a      1  0  0
b      0  1  0
c      0  0  0
File:      /usr/local/Caskroom/mambaforge/base/lib/python3.10/site-packages/pandas/core/reshape/pivot.py
Type:      function